@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

$infectedColor: #BD2130;
$recoveredColor: #A4C939;
$deathsColor: #BDBDBD;

.covid19tracker-container {
    font-family: 'Manrope', sans-serif;
}