.loancompany-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0 95px;
    align-items: center;
    animation: headerAnimation 1s;
    transition: 0.5s ease-out;
    &.fixed {
        position: sticky;
        top: 0;
        left: 0;
        background: #FFF;
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
        z-index: 1000;
    }
    .logo {
        flex-grow: 1;
    }
    .nav-container {
        z-index: 1000;
        .nav {
            $navTextColor: #000019;
            position: relative;
            display: flex;
            .nav-item {
                position: relative;
                list-style: none;
                display: inline-block;
                &.active {
                    .nav-link {
                        &::before {
                            width: 100%;
                        }
                    }
                }
                &.hover {
                    .nav-link {
                        color: $primaryColor;
                        &::before {
                            width: 100%;
                        }
                    }
                }
                .nav-link {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: $navTextColor;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0 20px;
                    padding: 42px 10px;
                    text-transform: capitalize;
                }
                .subnav-container {
                    .subnav {
                        .subnav-item {
                            list-style: none;
                            margin-left: 7px;
                            .subnav-link {
                                position: relative;
                                display: block;
                                text-decoration: none;
                                color: $navTextColor;
                                font-size: 16px;
                                text-transform: capitalize;
                                padding: 8px 10px;
                                font-weight: 500;
                                transition: 0.3s;
                                &:hover {
                                    color: $primaryColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .loancompany-link {
        margin-left: 20px;
    }
    .nav-toggler {
        $buttonSize: 25px;
        width: 25px;
        height: 25px;
        border: none;
        background: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes headerAnimation {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 992px) {
    .loancompany-header {
        &.fixed {
            .nav-container {
                .nav {
                    .nav-item {
                        .nav-link {
                            padding-top: 28px;
                            padding-bottom: 28px;
                        }
                        .subnav-container {
                            top: 70px;
                        }
                    }
                }
            }
        }
        .nav {
            .nav-item {
                &:hover {
                    .nav-link {
                        color: $primaryColor;
                        &::before {
                            width: 100% !important;
                        }
                    }
                    .subnav-container {
                        height: auto;
                        transform: translateY(0);
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                        z-index: 1000;
                    }
                }
                .nav-link {
                    &::before {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 1px;
                        bottom: 17px;
                        left: 0;
                        background: $primaryColor;
                        transition: 0.3s;
                    }
                }
                .subnav-container {
                    position: absolute;
                    height: 0;
                    left: 0;
                    top: 100px;
                    overflow: hidden;
                    box-shadow: none;
                    transform: translateY(50px);
                    transition: transform 0.3s;
                    .subnav {
                        width: 170px;
                        background: #FFF;
                        padding: 17px 0;
                        .subnav-link {
                            &:hover {
                                transform: translateX(5px);
                                &::before {
                                    width: 10px;
                                    left: -10px;
                                }
                            }
                            &::before {
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 2px;
                                top: calc(50% - 2px);
                                left: -7px;
                                background: $primaryColor;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .loancompany-header {
        padding: 20px 65px;
        .nav-container {
            position: absolute;
            max-height: 0;
            width: calc(100% - 130px);
            top: calc(100% - 8px);
            left: 65px;
            background: #FFF;
            overflow: hidden;
            transition: max-height 0.3s;
            .nav {
                display: block;
                border: 1px solid #000;
                padding: 19px;
                .nav-item {
                    display: block;
                    &.active {
                        .nav-link {
                            color: $primaryColor;
                        }
                    }
                    &.expanded {
                        .subnav {
                            height: auto;
                            transform: translateY(0);
                            .subnav-item {
                                display: block;
                            }
                        }
                    }
                    .nav-link {
                        display: block;
                        padding: 7px 15px;
                        margin: 0;
                        color: #000;
                        font-weight: 400;
                        font-size: 14px;
                        &::before {
                            content: none;
                        }
                    }
                    .subnav-container {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s;
                        .subnav {
                            position: relative;
                            width: 100%;
                            box-shadow: none;
                            opacity: 1;
                            bottom: 0;
                            padding: 0 20px;
                            .subnav-item {
                                margin-left: 0;
                                &:hover {
                                    .subnav-link {
                                        color: $primaryColor !important;
                                    }
                                }
                                .subnav-link {
                                    font-size: 14px !important;
                                    font-weight: 400 !important;
                                    color: #000 !important;
                                    padding: 7px 15px !important;
                                    &:hover {
                                        transform: translateX(0);
                                    }
                                    &::before {
                                        content: none;
                                    }
                                }
                            }
                        }
                    }
                    .submenu-toggler {
                        position: absolute;
                        top: 4px;
                        right: 0;
                        background: none;
                        border: none;
                        color: #000;
                        font-size: 22px;
                        cursor: pointer;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .loancompany-header {
        padding: 20px;
        .nav-container {
            width: calc(100% - 40px);
            left: 20px;
        }
    }
}