.loancompany-container {
    .section2 {
        display: flex;
        padding: 150px 0 300px;
        .left-container {
            .primary-title {
                margin-bottom: 22px;
            }
            .secondary-title {
                margin-bottom: 35px;
            }
            p {
                font-size: 16px;
                color: $textSecondaryColor;
                margin-bottom: 35px;
                padding-right: 50px;
            }
            .loancompany-link {
                background: $textPrimaryColor;
            }
        }
        .right-container {
            position: relative;
            img {
                vertical-align: middle;
            }
            .image1 {
                position: absolute;
                top: -47px;
                right: 0;
                img {
                    max-width: 100%;
                }
            }
            .image2 {
                position: absolute;
                top: 237px;
                left: -9%;
            }
        }
    }
}

@media (max-width: 992px) {
    .loancompany-container {
        .section2 {
            .left-container {
                margin-bottom: 50px;
            }
            .right-container {
                .image1 {
                    position: unset;
                }
                .image2 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .loancompany-container {
        .section2 {
            padding: 50px 0 100px;
        }
    }
}