.loancompany-container {
    .section6 {
        padding: 195px 0 160px;
        .title-container {
            text-align: center;
            margin-bottom: 45px;
            .primary-title {
                margin-bottom: 22px;
            }
        }
        .member-info {
            &:hover {
                .image {
                    img {
                        transform: scale(1.2);
                    }
                    .media {
                        a {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
            .image {
                position: relative;
                margin-bottom: 20px;
                overflow: hidden;
                img {
                    width: 100%;
                    transition: 0.6s ease-out;
                }
                .media {
                    $mediaBottom: 20px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    left: 0;
                    right: 0;
                    bottom: $mediaBottom;
                    a {
                        $mediaSize: 40px;
                        width: $mediaSize;
                        height: $mediaSize;
                        text-align: center;
                        line-height: $mediaSize;
                        background: #FFF;
                        border-radius: 50%;
                        margin: 0 4px;
                        opacity: 0;
                        transform: translateY($mediaSize + $mediaBottom);
                        transition: 0.5s;
                        &.twitter {
                            transition-delay: 0.2s;
                        }
                        &.globe {
                            transition-delay: 0.4s;
                        }
                        i {
                            font-size: 13px;
                            color: #8ba4b1;
                        }
                    }
                }
            }
            .caption {
                h1 {
                    font-family: 'Rufina', serif;
                    font-size: 25px;
                    font-weight: 700;
                    color: #33384E;
                    &:hover {
                        color: $primaryColor;
                    }
                }
                h3 {
                    font-size: 16px;
                    color: #57667E;
                    font-weight: normal;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .loancompany-container {
        .section6 {
            .member-info {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    .loancompany-container {
        .section6 {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }
}